In [51]:
import pandas as pd
import numpy as np
import gensim

In [52]:
movies = pd.read_csv("tmdb_movies_data.csv")
movies.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09

In [53]:
movies.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [54]:
df= movies[['original_title','id','director','cast','tagline','overview','keywords','genres']]
df.head(1)

,original_title,id,director,cast,tagline,overview,keywords,genres
0,Jurassic World,135397,Colin Trevorrow,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,The park is open.,Twenty-two years after the events of Jurassic ...,monster|dna|tyrannosaurus rex|velociraptor|island,Action|Adventure|Science Fiction|Thriller

In [55]:
df['title'] = df['original_title']
df.drop(['original_title'],axis='columns',inplace=True)
df.head(1)

C:\Users\DELL\AppData\Local\Temp/ipykernel_4796/2865812895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title'] = df['original_title']
C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,id,director,cast,tagline,overview,keywords,genres,title
0,135397,Colin Trevorrow,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,The park is open.,Twenty-two years after the events of Jurassic ...,monster|dna|tyrannosaurus rex|velociraptor|island,Action|Adventure|Science Fiction|Thriller,Jurassic World

In [56]:
df.fillna(',',inplace= True)
df.isna().sum()

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

id          0
director    0
cast        0
tagline     0
overview    0
keywords    0
genres      0
title       0
dtype: int64

In [57]:
df['tags'] = df.cast+ ","+ df.director + ","+ df.tagline+"," + df.overview+','+df.keywords +','+df.genres

C:\Users\DELL\AppData\Local\Temp/ipykernel_4796/598177672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df.cast+ ","+ df.director + ","+ df.tagline+"," + df.overview+','+df.keywords +','+df.genres

In [58]:
new_df = df[['id','title','tags']]
new_df.tail()

,id,title,tags
10861,21,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...
10862,20379,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...
10863,39768,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...
10864,21449,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...
10865,22293,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...

In [59]:
new_df['tags'][0]

"Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vincent D'Onofrio|Nick Robinson,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.,monster|dna|tyrannosaurus rex|velociraptor|island,Action|Adventure|Science Fiction|Thriller"

In [60]:
new_df['tags']=new_df.tags.apply(gensim.utils.simple_preprocess)

C:\Users\DELL\AppData\Local\Temp/ipykernel_4796/2274898310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df.tags.apply(gensim.utils.simple_preprocess)

In [61]:
new_df.head(1)

       id           title                                               tags
0  135397  Jurassic World  [chris, pratt, bryce, dallas, howard, irrfan, ...

In [62]:
new_df.tags=new_df.tags.apply(lambda x:" ".join(x))

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [63]:
new_df.tags=new_df.tags.apply(lambda x:x.lower())

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=9000,stop_words='english')

In [65]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [66]:
def stemming(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [67]:
new_df['tags']=new_df.tags.apply(stemming)

C:\Users\DELL\AppData\Local\Temp/ipykernel_4796/2503193800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df.tags.apply(stemming)

In [68]:
new_df['tags'][1]

'tom hardi charliz theron hugh keay byrn nichola hoult josh helman georg miller what love day an apocalypt stori set in the furthest reach of our planet in stark desert landscap where human is broken and most everyon is craze fight for the necess of life within thi world exist two rebel on the run who just might be abl to restor order there max man of action and man of few word who seek peac of mind follow the loss of hi wife and child in the aftermath of the chao and furiosa woman of action and woman who believ her path to surviv may be achiev if she can make it across the desert back to her childhood homeland futur chase post apocalypt dystopia australia action adventur scienc fiction thriller'

In [69]:
vectors=cv.fit_transform(new_df.tags).toarray()

In [70]:
len(cv.get_feature_names())

9000

In [71]:
from sklearn.metrics.pairwise import cosine_similarity

In [72]:
similarity=cosine_similarity(vectors)

In [76]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list= sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[0:5]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [77]:
recommend('Jurassic World')

Jurassic World
Jurassic Park
The Lost World: Jurassic Park
Futureworld
Jurassic Park III

In [78]:
import pickle

In [79]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [80]:
new_df.head()

,id,title,tags
0,135397,Jurassic World,chri pratt bryce dalla howard irrfan khan vinc...
1,76341,Mad Max: Fury Road,tom hardi charliz theron hugh keay byrn nichol...
2,262500,Insurgent,shailen woodley theo jame kate winslet ansel e...
3,140607,Star Wars: The Force Awakens,harrison ford mark hamil carri fisher adam dri...
4,168259,Furious 7,vin diesel paul walker jason statham michel ro...

In [81]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [82]:
new_df.shape

(10866, 3)